<!--Natalie Soler TNPG: mold squad v2
IntroCS pd2 sec2
HW2 -- Publishio!
2021-02-10-->

h1 {
  font: bold 20px Arial, serif;
}

h3 {
  color: cornflowerblue;
  font-style: italic
}

p {
  color: azure;
}
